<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.zephyriov.domainprobe">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="30" />
    <application android:label="Zephyriov Domain Probe"
        android:allowBackup="false" android:usesCleartextTraffic="false">
        <activity android:name=".ProbeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
